---
apiVersion: apps/v1
kind: Deployment
metadata: 
  name: mysql-deployment
  labels:
    app: db
    author: raju
spec: 
  replicas: 3
  selector:
    matchLabels: 
      app: db
  template:
    metadata:
      name: mysql-pod
      labels: 
        app: db  
    spec: 
      containers:
        - name: mysql-pod
          image: mysql
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: a
...
